<div class="jumbotron">
    <h2>Course Planning Project</h2>
    <p>--- Linpei Fan</p> <br />
    <p class="lead">Providing a web service for planning courses in Web API, having authorization - claims-based-identity implemented and adding SOAP XML web services as well. </p>
</div>
<div class="row">
    <div style="margin-left:80px;">
        <p>There are four entities: Program, Course, CurrculumPlan and Position. Use Fiddler to inspect the request/response sessions.</p>
        <h3>Use Cases</h3>
        <p>For the Program and Course entities, it implements following functionalities:</p>
        <ul>
            <li>Get all</li>
            <li>Get a list of programs for a specified course</li>
            <li>Get a list of courses for a specified program</li>
            <li>Get one using a search (e.g code of the program / code of the course)</li>
            <li>Get one by its identifier</li>
            <li>Add new</li>
            <li>Edit existing</li>
            <li>Delete existing (make it invisible from front end)</li>
        </ul>

        <p>For the CurriculumPlan and Position entities, it implements following functionalities:</p>
        <ul>
            <li>Get all</li>
            <li>Get one by its identifier</li>
            <li>Add new</li>
            <li>Update/Edit existing</li>
            <li>Delete existing (make it invisible from front end)</li>
        </ul>
        <p>Tasks/Operations:</p>
        <ul>
            <li>Update a curriculum plan for an existing program</li>
            <li>Add a position to a curriculum plan</li>
            <li>Remove a position to a curriculum plan</li>
            <li>Add a course to a program</li>
            <li>Remove a course to a program</li>
            <li>Add a program to a course</li>
            <li>Remove a program to a course</li>
        </ul>
    </div>
</div>
